app_static
app_dynamic
tests
tests/tests
revert
swap_1
swapp_app
hello_world
zombie
process_memory
psum
mutex_no_lock
mutex_with_lock
factorial
deadlock
libpsum.a
psum_lib.o
*.o
*.a
*.so
*.out
sequential_min_max
parallel_min_max
run_sequential
minmax_*.txt
